@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,200&family=Oswald:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.layout {
    margin: 0 100px;

}

.logo {
    color: white;
    font-size: 30px;
    margin: 0;
    cursor: pointer;
}

.content {
    height: 85vh;
    box-shadow: 0 0 3px gray;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.content-layout{
  
  margin: 0 400px;
  font-size: 60px;
  color:#001529 ;


}

.content-lay{
  margin: 0 590px;
  color: #001529;
}

.search-type{
  background-image: url("../../../Downloads/cytonn-photography-TVyhDpvL8MY-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.search-type .container{
  padding-top: 15%;
}

form{
  border-radius: 150px;
  margin-top: 50px;
  padding: 0 550px;
}

form input{
  padding: 10px;
  width: 100%;
  border: 1px solid #001529;
  margin-top:5px ;
  border-radius: 5px;


}

form span{
  font-size: 14px;
  color:#001529;
}

input ::placeholder{
  font-size: 17px;
  color:#001529;
}

form .box{
  padding: 2px;
}



form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

.featured{
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  color:#001529;
  
  
}

.featured img{
  cursor: pointer;
  background-size: cover;
  height: 30vh;
  width: 100%;
  box-shadow: 0 0 3px gray;
 
  
}

.background{
  padding: 60px 0;
  position: relative;
  text-align: center;
  font-size: 28px;

}

.text{
  color: blue;
}

















